# Python bytecode
__pycache__/

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables (secrets)
.env
.env.*

# macOS
.DS_Store

# VS Code
.vscode/

# mypy
.mypy_cache/

# Files
.dockerignore
.github/
Dockerfile
Procfile
fly.toml
