
h1 {
    text-align: center;
    color: white;
    font-family: "Courier New", "Arial";
}

h3 {
    text-align: center;
    color: white;
    font-family: "Courier New", "Arial";
}

body {
    background-color: black;
}


p {
    font-family: "Courier New", "Arial";
    color: white;
    text-align: center;
}

a {
    color: white;
    font-family: "Courier New", "Arial";
}

label {
    color: white;
    font-family: "Courier New", "Arial";
}

nav {
    margin: 0 auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: underline;
}

ul li a:hover {
    background-color: #3b3939;
}


.explore-options {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.astronomy-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    padding: 10px;
}

.img {
    width: 600px;
    height: auto;
}

.description {
    max-width: 600px;
    color: white;
    text-align: left;
}

.map-container {
    width: 75%;
    height: 500px;
    margin: 0 auto;
}

.form-container {
    width:700px;
    margin: 0 auto; 
    padding: 20px;
}