<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} NASA Image Repository {% endblock title %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock head %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/earth"> Earth </a></li>
            <li><a href="/space"> Space </a></li>
            <li><a href="/events"> Natural Phenomena </a></li>
        </ul>
    </nav>
    <!-- Page Content -->
    {% block body %}
        <h1> Welcome to my NASA map and image page! </h1>
    {% endblock body %}

</body>

</html>