{% extends "base.html" %}
{% block title %}
Map Representation of Natural Events
{% endblock title %}

{% block body %}
<h1>Map Representation of Natural Events from the Past 4 Weeks</h1>
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Title</th>
            <th>Magnitude</th>
        </tr>
    </thead>
    <tbody>
        {% for event in earth_events %}
            <tr>
                <td>{{ event["date"] }}</td>
                <td>{{ event["type"] }}</td>
                <td>{{ event["title"] }}</td>
                <td>{{ event["magnitude"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
