{% extends "base.html" %}

{% block body %}
    <h1> NASA's Astronomy Picture of the Day </h1>
    {% for date, img in images_data.items() %}
        <h3> {{ date }}: {{ img["title"] }} </h3>
        <div class="img-row">
            <img src="{{ img['image'] }}" alt="Astronomy Picture of the Day" class="img">
            <p class="description">Description of Image: 
                <br> {{ img["caption"] }} 
                <br>
                <br> Keywords:
                <br> {{ img["keywords"] }} 
            </p>
        </div>
        <br>
    {% endfor %}
{% endblock body %}